/* YOUR STYLING HERE */
.handle {
  color: #BDC7D4;

}
.liked {
  color: #E2264D;
}

.retweeted {
  color: #19CF86;
}

.callout {
  border-color: black;
  border-width:medium;
  margin-top: 1px;
  margin-bottom: 1px;

}

.bigdiv {
  background-color: #EEEEEE;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-weight: bold;
}
.icon {
  padding-left: 67px;
  margin-top: 10px;
  color: #BDC7D4;
}
